
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
  <h1>Edit Measurement</h1>
    <%= bootstrap_form_for [@baby, @stat] do |f| %>

      <%= f.text_field :weight, :placeholder => "Enter your baby's weight (kg)" %>
      <%= f.text_field :height, :placeholder =>"Enter your baby's height (cm)" %>
      <%= f.date_field :date, :placeholder => "Date Recorded (ex. March 22, 2014)" %>

    <%= f.submit "Update", :class => "btn btn-info" %>
  </div>
</div>
<% end %>